body {
  margin: 0;
  text-align: center;
  height: 100%;
  font-size: 18px;

}

.background {
  background-image: url("../Images/background.png");
  background-size: 75%;
  background-position: center center;
  position: relative;
  top: 10;
  bottom: 10;
  height: 100vh;
  z-index: -10;
}

.wrapper h1, h2 {
  font-family:'Orbitron', sans-serif;
}